<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.DeviceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.DeviceInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="deivice_describe" property="deiviceDescribe" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from device_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.DeviceInfo" >
    insert into device_info (id, device_id, deivice_describe
      )
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=INTEGER}, #{deiviceDescribe,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.DeviceInfo" >
    update device_info
    set device_id = #{deviceId,jdbcType=INTEGER},
      deivice_describe = #{deiviceDescribe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, device_id, deivice_describe
    from device_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, device_id, deivice_describe
    from device_info
  </select>
  <select id="selectDeiviceDescribeByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, device_id, deivice_describe
    from device_info
    where device_id = #{deviceId,jdbcType=INTEGER}
  </select>
</mapper>