<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.ObtainYieldRecordMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.ObtainYieldRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="d_so_id" property="dSoId" jdbcType="VARCHAR" />
    <result column="eqpt_id" property="eqptId" jdbcType="INTEGER" />
    <result column="shift_id" property="shiftId" jdbcType="INTEGER" />
    <result column="output_date" property="outputDate" jdbcType="DATE" />
    <result column="report_num" property="reportNum" jdbcType="BIGINT" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from obtain_yield_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.ObtainYieldRecord" >
    insert into obtain_yield_record (id, d_so_id, eqpt_id, 
      shift_id, output_date, report_num, 
      last_update_time, insert_time)
    values (#{id,jdbcType=BIGINT}, #{dSoId,jdbcType=VARCHAR}, #{eqptId,jdbcType=INTEGER}, 
      #{shiftId,jdbcType=INTEGER}, #{outputDate,jdbcType=DATE}, #{reportNum,jdbcType=BIGINT}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eliteams.quick4j.web.model.ObtainYieldRecord" >
    update obtain_yield_record
    set d_so_id = #{dSoId,jdbcType=VARCHAR},
      eqpt_id = #{eqptId,jdbcType=INTEGER},
      shift_id = #{shiftId,jdbcType=INTEGER},
      output_date = #{outputDate,jdbcType=DATE},
      report_num = #{reportNum,jdbcType=BIGINT},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, d_so_id, eqpt_id, shift_id, output_date, report_num, last_update_time, 
    insert_time
    from obtain_yield_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, d_so_id, eqpt_id, shift_id, output_date, report_num, last_update_time, 
    insert_time
    from obtain_yield_record
  </select>
  <delete id="deleteByTwoMonth" parameterType="java.sql.Date" >
    delete from obtain_yield_record where #{date,jdbcType=TIMESTAMP}> insert_time 
  </delete>
</mapper>