<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eliteams.quick4j.web.dao.ReworkViewMapper">
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.ReworkView">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="rework_id" jdbcType="VARCHAR" property="reworkId" />
    <result column="production_procedure" jdbcType="VARCHAR" property="productionProcedure" />
    <result column="rework_time" jdbcType="DATE" property="reworkTime" />
    <result column="rework_total" jdbcType="BIGINT" property="reworkTotal" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="rework_num" jdbcType="INTEGER" property="reworkNum" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.ReworkView">
    insert into rework_view (id, rework_id, production_procedure, 
      rework_time, rework_total, reason, rework_num, state)
    values (#{id,jdbcType=BIGINT}, #{reworkId,jdbcType=VARCHAR}, #{productionProcedure,jdbcType=VARCHAR}, 
      #{reworkTime,jdbcType=DATE}, #{reworkTotal,jdbcType=BIGINT}, #{reason,jdbcType=VARCHAR}, 
      #{reworkNum,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, rework_id, production_procedure, rework_time, rework_total, reason, rework_num, state
    from rework_view
  </select>
  <select id="getReworkDetailsByReworkView" resultMap="BaseResultMap" parameterType="com.eliteams.quick4j.web.model.ReworkView">
    SELECT reason,SUM(rework_num) as reworkNum FROM rework_view WHERE production_procedure=#{productionProcedure,jdbcType=VARCHAR} and state="审核通过" and rework_time LIKE ""#{time}"%"
  	GROUP BY production_procedure,reason
  	ORDER BY reworkNum DESC
  </select>
  
</mapper>