<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.quick4j.web.dao.StockAssignmentViewMapper" >
  <resultMap id="BaseResultMap" type="com.eliteams.quick4j.web.model.StockAssignmentView" >
    <result column="material_id" property="materialId" jdbcType="VARCHAR" />
    <result column="stock_num" property="stockNum" jdbcType="BIGINT" />
    <result column="total_production" property="totalProduction" jdbcType="BIGINT" />
    <result column="material_describe" property="materialDescribe" jdbcType="VARCHAR" />
    <result column="product_order_id" property="productOrderId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.eliteams.quick4j.web.model.StockAssignmentView" >
    insert into stock_assignment_view (material_id, stock_num, total_production, 
      material_describe, product_order_id, start_time
      )
    values (#{materialId,jdbcType=VARCHAR}, #{stockNum,jdbcType=BIGINT}, #{totalProduction,jdbcType=BIGINT}, 
      #{materialDescribe,jdbcType=VARCHAR}, #{productOrderId,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select material_id, stock_num, total_production, material_describe, product_order_id, 
    start_time
    from stock_assignment_view
  </select>
</mapper>